extends patientLayout

block main
  div.body

    div.grid-container#buttons
      form(action='/Patient/'+data.id, method='GET')
        label From:
        input(type='date' name='dateFrom').date
        br
        label To:
        input(type='date' name='dateTo').date
        br
        button(type='submit') Filter

    div.grid-container.observations
      each observation, index in data.Observations
        div
          p= observation.effectiveDateTime
        div
          a(href="./"+data.id.toString()+"?idObs="+index.toString())=observation.code.text
        div
            if observation.valueQuantity
              p= observation.valueQuantity.value+" "+observation.valueQuantity.unit

    div.grid-container.observations
      each medication in data.MedicationStatements
        div
          p= medication.medicationCodeableConcept.text